@charset "UTF-8";

@import "reset";
@import "variables";
@import "fonts";
@import "mixins";
@import "core";

@import "blocks/top";
@import "blocks/menu";
@import "blocks/icons";
@import "blocks/slider";


@import "blocks/github";